# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
dist
.turbo
out

# Environment
.env
.env.local
.env.*.local

# Uploads
apps/cms/uploads

# OS
.DS_Store
*.swp
*.swo
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# IDE
.idea
.vscode/settings.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Prisma
prisma/*.db
prisma/*.db-journal
